
    <footer class="footer section py-5">
        <div class="container-fluid fixed-bottom">
            <div class="row fixed-bottom py-5">
                
                <!-- Footer Temporarily Disabled -->
                <div class="col text-center">
                    <!-- List -->
                    <ul class="list-inline list-group-flush list-group-borderless text-center mb-0">
                        <li class="list-inline-item">
                            <!-- <a target="_blank" 
                               href="https://enlabeler.com">Enlabeler</a> -->
                        </li>
                    </ul>
                    <!-- End List -->
                </div>
            </div>
        </div>
    </footer>
